[package]
name = "plum"
version = "0.1.0"
authors = ["The PolkaX Authors"]
edition = "2018"
license = "GPL-3.0"

[lib]
name = "plum"

[[bin]]
name = "plum-node"
path = "src/bin/main.rs"

[dependencies]
plum_address = { path = "chain/address" }
cli = { path = "./cli" }
wallet = { path = "chain/wallet" }

[workspace]
members = [
  "chain/address",
  "chain/bigint",
  "chain/types",
  "chain/wallet",
  "chain",
  "cli",
  "crypto",
  "sigs",
  "hashing",
  "peermgr",
  "plum_libp2p",
  "network",
]
